# collected runway images - copyrighted editorial/brand content, local-only, never committed
data/raw/**
!data/raw/.gitkeep

# personal notes to document the bugs I faced during development
docs/

# Python
__pycache__/
*.pyc
.venv/
.python-version.local

# uv
uv.lock.local

# Env / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
